@mixin pad($t)
  padding: $t 15px
  

.doc
  >.doc-item
    &.about
      @include pad(0px)
      height: 64px
      background: #38384D
    &.get-started
      height: 250px
      .desc
        @include pad(0px)
      .panel
        @include pad(20px)
        margin: 15px
        margin-left: 56px
        border: 1px solid orange
        color: orange
        font-weight: 800
        width: 140px
        background-color: rgba(255, 165, 0, 0.18)
    &.bottom
      min-height: 1000px
    &.program
      >h2
        //text-shadow: 0px 0px 10px #C52824
        @include pad(0px)
        font-weight: 100
        margin: 0
        margin-top: 30px
      >p 
        color: #CCC
        @include pad(0px)
      >btf-markdown
        >h2
          @include pad(0px)
          color: #CCC
          font-weight: 100
        >p
          @include pad(0px)
        >pre
          @include pad(20px)
          $white: white 
          background: rgba($white, 0.1)