.doc-item.about(id="about")
.doc-item.get-started(id="get-started")
   .desc
     h2 Get started
     ul
       li Install nodejs
       li Run
   .panel
      | npm install -g nixar
     
.doc-item.program(ng:repeat="item in menu" id="{{item.text}}")
   h2 {{item.text}}
   p {{item.descr}}
   btf-markdown.
     ```Bash
     fs | filter js | map "cat *" | exec
     ```
.doc-item.bottom