mixin bar(cl)
  .bar
    .name(class=cl)
      a(ui-sref="landing") nixar
    .menu
      .menu-item
        a(ui-sref="doc") Docs
      .menu-item
        a(ui-sref="about") About
      .menu-item
        a(href="https://github.com/askucher/nixar") Github