.doc .doc-body > md-sidenav {
  height: 100vh;
  overlflow-y: scroll;
  overlflow-x: hidden; }
  .doc .doc-body > md-sidenav.md-locked-open {
    width: 200px;
    min-width: 200px;
    max-width: 200px; }
  .doc .doc-body > md-sidenav > md-toolbar > .md-toolbar-tools {
    cursor: pointer;
    background: #7cb28a; }
    .doc .doc-body > md-sidenav > md-toolbar > .md-toolbar-tools .logo {
      padding-left: 15px;
      font-family: "Fredoka One";
      font-size: 25px;
      color: #7cb28a;
      background-repeat: no-repeat;
      min-width: 94.4px;
      min-height: 55.6px;
      background-size: 94.4px 55.6px;
      font-size: 40px;
      margin-top: 0;
      margin-left: 16; }
      .doc .doc-body > md-sidenav > md-toolbar > .md-toolbar-tools .logo a {
        text-decoration: none;
        color: #7cb28a; }
      .doc .doc-body > md-sidenav > md-toolbar > .md-toolbar-tools .logo.white {
        color: white; }
        .doc .doc-body > md-sidenav > md-toolbar > .md-toolbar-tools .logo.white a {
          color: white; }
  .doc .doc-body > md-sidenav > md-content {
    background: white; }
    .doc .doc-body > md-sidenav > md-content > md-list {
      color: #3A8C4F; }
      .doc .doc-body > md-sidenav > md-content > md-list > md-list-item.primary {
        font-weight: 800; }
      .doc .doc-body > md-sidenav > md-content > md-list > md-list-item > .md-button:hover {
        background: rgba(255, 255, 255, 0.05); }
      .doc .doc-body > md-sidenav > md-content > md-list > md-divider {
        border: 1px solid #7E868E; }
.doc .doc-body > md-content {
  overflow: hidden;
  background: white;
  height: 100vh;
  padding: 0; }
  .doc .doc-body > md-content > .split-panes > div {
    background: transparent;
    overflow-y: scroll; }
    .doc .doc-body > md-content > .split-panes > div.split-handler {
      height: 5px;
      background-color: #A5A0A0;
      box-shadow: inset 0px 0px 5px #5D5858, 0px 0px 5px #3A3535; }
    .doc .doc-body > md-content > .split-panes > div.term {
      background: #474F59;
      height: 100%; }
    .doc .doc-body > md-content > .split-panes > div.commands > .command .name {
      color: #7cb28a; }
    .doc .doc-body > md-content > .split-panes > div.commands > .command.program > h2 {
      padding: 0px 15px;
      font-weight: 100;
      margin: 0;
      margin-top: 30px; }
    .doc .doc-body > md-content > .split-panes > div.commands > .command.program > p {
      color: gray;
      padding: 0px 15px; }
    .doc .doc-body > md-content > .split-panes > div.commands > .command > .examples {
      padding: 10px; }
      .doc .doc-body > md-content > .split-panes > div.commands > .command > .examples > .example {
        margin-bottom: 10px;
        border: 1px solid #CCC; }
        .doc .doc-body > md-content > .split-panes > div.commands > .command > .examples > .example code {
          white-space: pre;
          padding-bottom: 20px;
          padding-left: 10px;
          display: block;
          background: rgba(247, 245, 245, 0.56); }
        .doc .doc-body > md-content > .split-panes > div.commands > .command > .examples > .example > h1 {
          padding-left: 15px;
          font-size: 14px; }
        .doc .doc-body > md-content > .split-panes > div.commands > .command > .examples > .example > h2 {
          padding: 0px 15px;
          color: #CCC;
          font-weight: 100; }
        .doc .doc-body > md-content > .split-panes > div.commands > .command > .examples > .example h3 {
          font-size: 13px;
          margin-left: 15px; }
        .doc .doc-body > md-content > .split-panes > div.commands > .command > .examples > .example > p {
          padding: 0px 15px; }
        .doc .doc-body > md-content > .split-panes > div.commands > .command > .examples > .example > pre {
          padding: 20px 15px;
          background: rgba(107, 101, 101, 0.08); }

/*# sourceMappingURL=doc.css.map */
