.app.sidenavdemoBasicUsage(layout='column')
  section.app-body(layout='row', flex='')
    md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left'
                                     md-is-locked-open="$mdMedia('gt-md')")
      md-toolbar.md-theme-indigo
        h1.md-toolbar-tools Nixar
      md-content(layout-padding='')
        md-list.listdemoListControls
          md-list-item
            p About
          md-list-item
            p Get started
          md-divider
          md-list-item(ng-repeat='node in menu' 
                       ng-class="{active: active === node}"
                       ng-click="activate(node)")
            p  {{ node.text }}
    md-content(flex='' layout-padding='0')
      bg-splitter(orientation="vertical")
        bg-pane.doc.scroll
         include ../doc/doc.jade
        bg-pane.term
         include ../terminal/terminal.jade
